@import "../index.scss";


#footer {
    width: calc(100% - 220px);
    float: right;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color:  hsl(var(--primary--bg));
    border-bottom: 1px solid rgb(117, 117, 117);
 
    span {  
      margin: 0px 10px;
      font-size: 22px;
    }
  }
  